/* HEADER */
header {
	margin-top: calc(4.1rem + var(--nav-height)); /* Removido --nav-height da expressão */
}

header::before {
	content: '';
	width: 100vw;
	height: calc(6rem + var(--nav-height)); /* Corrigido zero à esquerda */
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* MENU NAV HEADER*/
.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 27.1875rem; /* Mantido o mesmo */
	margin: auto; /* Alterado de margin-inline para margin */
	padding: 0 2.4rem; /* Alterado de padding-inline para padding */
}

nav {
	display: flex;
	flex-direction: row;
	height: var(--nav-height);
	padding: 1.2rem;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	width: 100%; /* Removido margin: auto */
	z-index: 2;
}

nav a {
	color: #512563;
	text-decoration: none;
}

nav a:hover {
	color: #D11851;
}

nav .wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}

nav .scroll {
	background-color: #fff;
	width: 100vw; /* Alterado para 100% */
}

.img_nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5vw; /* Mantido o mesmo */
	margin: auto; /* Removido */
}

@media only screen and (max-width: 600px) {
	/* HEADER */
	header {
		margin-top: calc(4.1rem + var(--nav-height)); /* Removido --nav-height da expressão */
	}
	
	header::before {
		content: '';
		width: 100%;
		height: calc(6rem + var(--nav-height)); /* Corrigido zero à esquerda */
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	
	/* MENU NAV HEADER*/
	.wrapper {
		width: 100%;
		margin: auto; /* Removido margin-inline */
		padding: 0 2.4rem; /* Alterado de padding-inline para padding */
	}
	nav {
		width: 100%;
		margin: auto; /* Removido margin: auto */
	}
	
	.img_nav {
		display: none;
		width: 100%; /* Removido margin: auto */
	}
}
