@media only screen and (max-width: 600px) {
/* HEADER */
header {
	margin-top: calc(4.1rem + (--nav-height));
}

header::before {
	content: '';
	width: 100%;
	height: calc(06rem + var(--nav-height));
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* MENU NAV HEADER*/
.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-inline: auto;
	padding-inline: 2.4rem;
}
nav {
	display: flex;
	flex-direction: row;
	height: var(--nav-height);
	padding: 1.2rem;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	margin: auto;
	width: 100%;
	z-index: 2;
}

nav a {
	color: #512563;
	text-decoration: none;
}

nav a:hover {
	color: #D11851;
}

nav .wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}

nav .scroll {
	background-color: #fff;
	width: 100%;
}

.img_nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 100%;
}

}