#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	width: 60vw;
	color: var(--grey);
	margin-bottom: 1rem;
	padding-top: 3rem;
	text-align: justify;
}

#about p, img {
	display: flex;
}

#about img {
	width: 100vw;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#store {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	width: 80vw;
	color: var(--grey);
	margin-bottom: 0rem;
	padding-top: 2rem;
}

#store p {
	max-width: 60vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	margin: auto;
}

#store p, img {
	margin-top: 2rem;
}

.aphillystore{
	background-color: #fff;
	padding: 2rem;
	border-radius: 25px;
	width:  50vw;
}

#solutions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	width: 80vw;
	color: var(--grey);
	margin-bottom: 2rem;
	padding-top: 3rem;
}

#pdflibrary {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	width: 85vw;
	color: var(--grey);
	margin-bottom: 2rem;
	padding-top: 3rem;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	width: 80vw;
	color: var(--grey);
	margin-bottom: 1rem;
	padding-top: 3rem;
}

/* */
.pageTitles {
	font-size: 3.5rem;
	text-align: center;
	background-image: linear-gradient(to bottom, #A703DA, #A00F77, #D21E59);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: black;
	font-weight: bold;
	line-height: 1.1;
}

.pageTextContet{
	text-align: justify;
}