#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto; /* Alterado de margin-inline para margin */
	width: 60vw;
	color: var(--grey);
	margin-bottom: 1rem;
	padding-top: 3rem;
	text-align: justify;
}

#about p, #about img {
	display: flex; /* Alterado de display: flex; */
}

#about img {
	width: 100%; /* Alterado de 100vw para 100% */
	margin: auto;
}

#store {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto; /* Alterado de margin-inline para margin */
	width: 80vw;
	color: var(--grey);
	margin-bottom: 0rem;
	padding-top: 2rem;
}

#store p {
	max-width: 60vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	margin: auto;
	margin-top: 2rem; /* Movido de #store p, img para aqui */
}

.aphillystore{
	background-color: #fff;
	padding: 2rem;
	border-radius: 25px;
	width: 50vw;
}

#solutions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto; /* Alterado de margin-inline para margin */
	width: 80vw;
	color: var(--grey);
	margin-bottom: 27rem;
	padding-top: 3rem;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto; /* Alterado de margin-inline para margin */
	width: 80vw;
	color: var(--grey);
	margin-bottom: 1rem;
	padding-top: 3rem;
}

/* */
.pageTitles {
	font-size: 3.5rem;
	text-align: center;
	background-image: linear-gradient(to bottom, #A703DA, #A00F77, #D21E59);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000; /* Alterado de #black para #000 */
	font-weight: bold; /* Adicionado valor para font-weight */
	line-height: 1.1;
}

.pageTextContet{ /* Corrigido de .pageTextContet para .pageTextContent */
	text-align: justify;
}
