:root {
    --nav-height: 1.2rem
}

* {
    margin: 0;
}

html,
body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
    background-color: #202024;
}


main {
    background: url(https://raw.githubusercontent.com/lfvldvn/lfvldvn.github.io/dd1dce75cdd01697cfd3563b44496296dc0bfdc1/images/background_mobile.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}

.container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--grey);
}

/* AVATAR PICTURE */
.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.like {
    position: absolute;
    top: -55px;
    left: -10px;
    z-index: 1;
    width: 07rem;
    height: 07rem;
}

.avatar>img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* TEXT TITLE AND BIO */
h1 {
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/*SOCIAL MEDIA ICONS */
.icon {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}

.icon:hover {
    opacity: 1;
}

.icon {
    position: relative;
    border: 2px solid;
    border-radius: 50px;
    overflow: hidden;
}

.icon {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.icon:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* QR CODE */
.qrcode {
    width: 07rem;
    height: 07rem;
    margin: 01.5rem auto 0;
    position: relative;
}

.qrcode>img {
    width: 07rem;
    height: 07rem;
    object-fit: cover;

}

/* SPOTIFY */
.spotify {
    margin: 3.5rem auto 0;
    width: 20rem;
    position: relative;
}



/*DESKTOP*/
@media (min-width: 1920px) {

    /* estilos versão desktop */
    main {
        background-image: url(https://raw.githubusercontent.com/lfvldvn/lfvldvn.github.io/7b3008a839a08ca55c74a84ffa20ff56e27d5f37/images/background_desk_full.svg);
        background-position: center right;
        background-repeat: no-repeat;
        width: 100%;
    }

    /* QR CODE DESKTOP*/
    .qrcode {
        width: 07rem;
        height: 07rem;
        margin: 01.5rem auto 0;
        position: relative;
    }

    .qrcode>img {
        width: 07rem;
        height: 07rem;
        object-fit: cover;

    }

    /* LIKE AVATAR DESKTOP*/
    .like {
        position: absolute;
        top: -25px;
        left: 0px;
        z-index: 1;
        width: 05rem;
        height: 05rem;
    }

    /* SPOTIFY DESKTOP*/
    .spotify {
        margin: 3.5rem auto 0;
        width: 29rem;
        position: relative;
    }

    /* SOCIAL MEDIA ICONS DESKTOP*/
    .icon {
        opacity: 0.4;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;
    }

    .icon:hover {
        opacity: 1;
    }
}


/* HEADER */
header {
    margin-top: calc(4.1rem + (--nav-height));
}

header::before {
    content: '';
    width: 100vw;
    height: calc(06rem + var(--nav-height));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* MENU */
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 27.1875rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

nav {
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    padding: 1.2rem 1.2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    margin: auto;
    width: 100vw;
}

nav a {
    color: #512563;
}

nav a:hover {
    color: #D11851;
}

nav .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

nav .scroll {
    background: #fff;
    width: 100vw;
}

@media (max-width: 720px) {
    .like {
        position: absolute;
        top: -55px;
        left: -10px;
        z-index: 1;
        width: 07rem;
        height: 07rem;
    }

}