:root {
    --nav-height: 1.2rem;
    --grey: hsl(240, 9%, 89%);
}

* {
    margin: 0;
}

html,
body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);

    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
    background-color: #202024;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 0 2rem 2rem 0;
}

.btn-img {
    width: 100%;
}

.btn:hover::after {
    margin-top: -8px;
}

main {
    background: url(https://raw.githubusercontent.com/lfvldvn/lfvldvn.github.io/dd1dce75cdd01697cfd3563b44496296dc0bfdc1/images/background_mobile.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}

.container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--grey);
}

/* AVATAR PICTURE */
.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.like {
    position: absolute;
    top: -55px;
    left: -10px;
    z-index: 1;
    width: 07rem;
    height: 07rem;
}

.avatar>img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* TEXT TITLE AND BIO */
.userName {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 0.25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/*SOCIAL MEDIA ICONS */
.icon {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}

.icon:hover {
    opacity: 1;
}

.icon {
    position: relative;
    border: 2px solid;
    border-radius: 50px;
    overflow: hidden;
}

.icon {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.icon:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/*TryHackMe8*/
.TryHackMe {
    margin: 01.5rem auto 0;
}

/* QR CODE */
.qrcode {
    width: 05rem;
    height: 07rem;
    margin: 01.5rem auto 0;
    position: relative;
}

.qrcode>img {
    width: 05rem;
    height: 07rem;
    object-fit: cover;

}

/* HEADER */
header {
    margin-top: calc(4.1rem + (--nav-height));
}

header::before {
    content: '';
    width: 100vw;
    height: calc(06rem + var(--nav-height));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* MENU */
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 27.1875rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

.img_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1.5vw;
}

nav {
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    padding: 1.2rem 1.2rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    margin: auto;
    width: 100vw;
    z-index: 2;
}

nav a {
    color: #512563;
}

nav a:hover {
    color: #D11851;
}

nav .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

nav .scroll {
    background: #fff;
    width: 100vw;
}

/*=========================END GERAL MAIN====================================*/

/*=========================NAVEGATION PAGE CATEGORIES=========================*/
/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 80vw;
    color: var(--grey);
    margin-bottom: 1.0rem;
    padding-top: 3.0rem;
}

#about img {
    display: flex;
    margin: auto;
    width: 20vw;
}

/* solutions */
#solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 80vw;
    color: var(--grey);
    margin-bottom: 1.0rem;
    padding-top: 3.0rem;
}

#solutions img {
    display: flex;
    margin: auto;
    width: 20vw;
}

/* codeTeam */
#codeTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 80vw;
    color: var(--grey);
    margin-bottom: 1.0rem;
    padding-top: 3.0rem;
}

#codeTeam img {
    display: flex;
    margin: auto;
    width: 20vw;
}

/* CONTACT */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: 80vw;
    color: var(--grey);
    margin-bottom: 1.0rem;
    padding-top: 3.0rem;
}

#contact img {
    display: flex;
    margin: auto;
    width: 20vw;
}

/* NAV TEXT TITLES */
.navtitles {
    font-size: 4rem;
    text-align: center;
    background-image: linear-gradient(to bottom, #A703DA, #a00f77, #D21E59);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-weight: bold;
    line-height: 1.1;
}

.nav_imgs {
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* NAV TEXT CONTENT */
.nav_text {
    text-align: justify;
}

/*=========================DESKTOP=========================*/


@media (min-width: 960px) {

    /* estilos versão desktop */
    main {
        background-image: url(https://raw.githubusercontent.com/lfvldvn/lfvldvn.github.io/e5111619fa49f554adfe8ab67ca9222f481e11b2/images/background_2.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    /* QR CODE DESKTOP*/
    .qrcode {
        width: 06rem;
        height: 07rem;
        margin: 1.9rem auto 0;

    }

    .qrcode>img {
        width: 05rem;
        height: 07rem;
    }

    /* SPOTIFY DESKTOP*/
    .spotify {
        margin: 1.5rem auto 0;
        width: 30rem;
    }

    .extraBox {
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        row-gap: 1.2rem;
        width: 29.6rem;
    }

    #googleLoginCTA {
        display: flex;
        margin: 1.5rem auto 0;
        align-content: center;
        justify-content: center;
    }

    #buttonDiv {
        display: none;
    }

    /* LIKE AVATAR DESKTOP*/
    .like {
        position: absolute;
        top: -25px;
        left: 0px;
        z-index: 1;
        width: 05rem;
        height: 05rem;
    }


    /* SOCIAL MEDIA ICONS DESKTOP*/
    .icon {
        opacity: 0.4;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;
    }

    .icon:hover {
        opacity: 1;
    }

    /* ABOUT */
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        width: 50vw;
        color: var(--grey);
        margin-bottom: 7.0rem;
    }

    .nav_text {
        display: flex;
    }

    /* solutions */
    #solutions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        width: 50vw;
        color: var(--grey);
        margin-bottom: 7.0rem;
    }

    /* lista de soluções */
    #list_solutions {
        display: flex;
        flex-direction: row;
        margin: 0 0 0 -10;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
        line-height: 4.2rem;
    }

    #list_solutions img {
        width: 30rem;
    }

    #icon_solutions {
        font-size: 1.3rem;
        margin: 0 .7rem;

    }

    #icon_text_solutions {
        font-size: 2.0rem;
        margin: 0 .7rem;
    }

    /* codeTeam */
    #codeTeam {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        width: 50vw;
        color: var(--grey);
        margin-bottom: 7.0rem;
    }

    /* CONTACT */
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        width: 50vw;
        color: var(--grey);
        margin-bottom: 7.0rem;
    }

    /* NAV TEXT TITLES */
    .navtitles {
        font-size: 7rem;
        text-align: center;
    }

    /* NAV TEXT CONTENTS */
    .nav_text {
        text-align: justify;
    }

}

/*=========================MOBILE=========================*/
@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    /* HEADER */
    header {
        margin-top: calc(4.1rem + (--nav-height));
    }

    header::before {
        content: '';
        width: 300px;
        height: calc(06rem + var(--nav-height));
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    /* MENU */
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        margin-inline: auto;
        padding-inline: 2.4rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: var(--nav-height);
        padding: 1.2rem 1.2rem;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        margin: auto;
        width: 100vw;
        z-index: 2;
    }

    nav a {
        color: #512563;
    }

    nav a:hover {
        color: #D11851;
    }

    nav .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
    }

    nav .scroll {
        background: transparent;
        width: 300px;
    }

    .like {
        position: absolute;
        top: -55px;
        left: -10px;
        width: 07rem;
        height: 07rem;
    }

    .img_nav {
        display: none;
        overflow: hidden;
    }

    #about img {
        display: flex;
        margin: auto;
        width: 20vw;
        margin-top: 2.5rem;
    }

    #solutions img {
        display: flex;
        margin: auto;
        width: 20vw;
        margin-top: 2.5rem;
    }

    /* lista de soluções */
    #list_solutions {
        display: flex;
        margin: 0 0 0 -10;
        align-items: center;
        justify-content: space-between;
        width: 85vw;
        line-height: 2.1rem;
    }

    #icon_solutions {
        font-size: 1.2rem;
        margin: 0 .7rem;

    }

    #icon_text_solutions {
        font-size: 1.2rem;
        margin: 0 .7rem;
    }

    #list_solutions img {
        display: none;
    }

    #codeTeam img {
        display: flex;
        margin: auto;
        width: 20vw;
        margin-top: 2.5rem;
    }

    #contact img {
        display: flex;
        margin: auto;
        width: 20vw;
        margin-top: 2.5rem;
    }

    /* QR CODE DESKTOP*/
    .qrcode {
        width: 06rem;
        height: 07rem;
        margin: 1.9rem auto 0;

    }

    .qrcode>img {
        width: 05rem;
        height: 07rem;
    }

    /* SPOTIFY DESKTOP*/
    .spotify {
        margin: 1.5rem auto 0;
        width: 20rem;
    }

    .extraBox {
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        row-gap: 1.2rem;
    }

    #googleLoginCTA {
        display: none;
    }

    #buttonDiv {
        display: flex;
        margin: 6.5rem auto 0;
        align-content: center;
        justify-content: center;
    }
}