/* MAIN CONTENT */
main {
	background-image: url(./imagess/asstets/bgdesk.jpeg); /* Removi "no-repeat center/cover" e adicionei ponto e vírgula */
	background-repeat: no-repeat; /* Adicionado para garantir que a imagem não seja repetida */
	background-position: center; /* Adicionado para centralizar a imagem */
	background-size: cover; /* Adicionado para cobrir todo o elemento */
	width: 100vw;
	height: 100vh; /* Alterado para vh para representar a altura da viewport */
}

.container {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: var(--grey);
}

/* BTN GO TOP FIXED */
.gotop {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	margin: 0 2rem 2rem 0;
	z-index: 999; /* Adicionado um índice de empilhamento para garantir que o botão fique acima de outros elementos */
}

.gotop-img {
	width: 100%;
}

.gotop:hover::after {
	margin-top: -8px;
}
