* {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

aside {
    background-color: #000000;
}

#profile {
    position: absolute;
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
    background-color: #302F3D;
}

#resume {
    position: absolute;
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
}

#technologies {
    position: absolute;
    width: 348px;
    height: 208px;
    left: 40px;
    top: 740px;
}

#experiences {
    position: absolute;
    width: 348px;
    height: 349px;
    left: 40px;
    top: 978px;
}

#edication {
    position: absolute;
    width: 348px;
    height: 352px;
    left: 40px;
    top: 1357px;
}